{% load i18n %}
<html>
    <head>
        <title>{% trans "Vote" }</title>
    </head>
    <body>
        <h1>{% trans "Vote" }</h1>
        {% if position_forms %}
        <form action="." method="post">
            <table border="1">
            {% for position in position_forms %}
            <tr><td>{{ position.name }}</td>
                <td>{% trans "Select " %} {{ position.number }}</td>
                {{ position.as_table }}
            {% endfor %}
            </table>
            <input type="submit">
        </form>
        {% endif %}
    </body>
</html>
